body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0%;
    height: 100VH;
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right,#ADA996, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,#ADA996, #dcdbd6, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    /* height: 100%; */
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.slide img {
    width: 100%;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 8px 18px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.caption {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.533);
}

.slide {
    display: none;
}